body {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

a {
	font-family: raleway;
	color: #F15831;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

h2 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px, 20px, 20px, 30px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	margin-left: 20px;
	margin-right: 20px;
}

main {
	width: 850px;
	margin-left: auto 35px;
	margin-right: auto 35px;
	margin: auto;
}

img {
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
}
